@font-face {
    font-family: Josefin;
    src: url(./Josefin_Sans/static/JosefinSans-Light.ttf);
}

body {
    background-color: #f2d0f7;
}

.start {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#exam {
    font-family: Josefin;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #a2d8e0; */
    color: #000;
    border: none;
    display: block;
    width: 650px;
    cursor: pointer;
    font-size: 40px;
    /* font-family: inherit; */
    padding: 1.3rem;
}

.text {
    font-family: Josefin;
    text-decoration: none;
}

.detail {
    font-family: Josefin;
    font-size: 60px;
    text-align: center;
}

.submit {
    font-family: Josefin;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #9da8a9;
    color: #fff;
    border: none;
    border-radius: 10px;
    display: block;
    width: 70%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    /* font-family: inherit; */
    padding: 1.3rem;
}

a {

    font-family: Josefin;
    text-decoration: none;
}